@tailwind base;
@tailwind components;
@tailwind utilities;
/* ======== REGRAS GLOBAIS ======== */
html, body {
  height: 100%;         
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow-x: hidden; /* Evita scroll lateral */
    font-family: "Poppins", sans-serif;
}
/* impede o body de "encolher" */
body {
    min-height: 100vh;  
    display: flex;
    flex-direction: column;
}

.h1-login {
    font-size: 2rem;
    color: #094C59;
    margin: 0 0 10px 0;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.form-group {
    flex: 1;                      /* Ocupa toda a tela */
    min-height: 100vh;            /* Garante tela cheia */
    background: #ffffff;          /* Fundo branco sempre */
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: blue;
}