body {
  font-family: "Poppins", sans-serif;
  background: #f8f9fa;
  margin: 0;
  padding: 0;
}

.app-container {
  text-align: center;
  padding: 20px;
  color: #094C59;

}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
