.todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.todo-form label {
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.todo-form input,
.todo-form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.todo-form button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #0a2e4a;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.todo-form button:hover {
  background-color: #145a87;
}
